<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<footer th:fragment="footer"  class="global-footer">
        


    <div class="cta-panel">
        <div class="cta-panel__info">
            <p class="cta-panel__info-title">Its storage</p>
            <p class="cta-panel__info-copy">Find a cheaper quote and we'll match it!</p>
        </div>


        <div class="cta-panel__action">

<a href="/book" class="cta-panel__action-btn" >Get a quote</a>
        </div>
    </div>

        <div class="storage-footer">
        <div class="storage-footer__content">
    <div class="storage-footer__copyright">


<div itemscope itemtype="https://schema.org/Brand" class="brand-copyright">
    &#169; TO-DO Group
</div>
</div>
    <div class="storage-footer__links">
        <div class="storage-footer__links-legal">




    <ul class="legal-links">
                <li class="legal-links__item">
                    <a href="" class="legal-links__item-link ">Terms and Conditions</a>
                </li>
                <li class="legal-links__item">
                    <a href="" class="legal-links__item-link ">Privacy Policy</a>
                </li>
               <li class="legal-links__item">
                    <a href="" class="legal-links__item-link ">FAQs</a>
                </li>
    </ul>
</div>
        <div class="storage-footer__links-social">


     <div class="social-links">
            <a href="https://www.facebook.com/todostorage/" class="social-links__link" target="_blank">
                    <img  th:src="@{/dist/assets/social-icons/facebook.svg}" alt="Facebook icon" />
            </a>
             <a href="https://www.instagram.com/todo.storage/" class="social-links__link" target="_blank">
                    <img th:src="@{/dist/assets/social-icons/instagram.svg}" alt="Instagram icon" />
            </a>
            
            <a href="https://twitter.com/todostorage" class="social-links__link" target="_blank">
                    <img th:src="@{/dist/assets/social-icons/twitter.svg}" alt="Twitter icon" />
            </a>
    </div>
</div>
    </div>
</div>




    </div>
    </footer>



</html>