<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<header th:fragment="header" class="global-header">

         <div itemscope itemtype="http://schema.org/Brand" class="brand-logo">
      <img style="margin-top: 25px" itemprop="logo" src="https://res.cloudinary.com/moversng/image/upload/v1586740232/TODO%20STORAGE/todostoragegreen_tl2gws.svg" alt="To-do self storage" class="storage-quote__header-logo-img" />

    </div>

       <div class="global-actions">
    <div class="global-actions__menu js-mobile-menu" id="overlay">
        


    <div class="global-nav js-tablet-menu">
        <ul class="global-nav__list">
                <li class="global-nav__list-item">
                        <a href="" class="global-nav__item-link">Self Storage</a>
                        
               </li>
                <li class="global-nav__list-item">
                        <a href="" class="global-nav__item-link">Our Services</a>
                            
                </li>
                <li class="global-nav__list-item">
                        <a href="" class="global-nav__item-link">Our Spaces</a>
                </li>
                <li class="global-nav__list-item">
                        <a href="" class="global-nav__item-link">Boxes and packaging</a>
                </li>
                <li class="global-nav__list-item">
                        <a href="" class="global-nav__item-link">Blog</a>
                </li>
        </ul>
    </div>

        <div class="global-ctas">

    
<a href="/community" class="global-ctas__btn">

<img src="/dist/assets/icons/location2dtodostorage.com.svg" alt="" class="global-ctas__btn-icon"/>

                         List your space
                    </a>

    <a href="/book" class="global-ctas__btn">
            <img src="https://res.cloudinary.com/moversng/image/upload/v1587765744/TODO%20STORAGE/quote2_bvhdbc.svg" alt="" class="global-ctas__btn-icon" />
        Get a quote
    </a>

        </div>
    </div>
    <a href="#" class="menu-toggle js-menu-toggle">
       
        <div class="menu-toggle__icon">
            <span class="menu-toggle__icon-bar"></span>
            <span class="menu-toggle__icon-bar"></span>
            <span class="menu-toggle__icon-bar"></span>
        </div>
    </a>
</div>
        <div class="global-nav-overlay js-global-nav-overlay"></div>

    </header>



</html>