<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="scripts">


    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
     <script src='https://cdn.jsdelivr.net/npm/snazzy-info-window@1.1.1/dist/snazzy-info-window.min.js'></script>
       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAdKb-HhkmlJXB4LNvjkN2P7Saz4vN8tU&amp;libraries=places,geometry"></script>
   <script src="dist/js/app.js"></script>
</div>

</html>