<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
            <meta name='robots' content='nofollow'>
        <meta name='robots' content='noindex'>
        <title>Your Details</title>
        <link rel="canonical" href="https://www.todoselfstorage.com/storage/your-details" />

     <link rel="stylesheet" type="text/css" th:href="@{/dist/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,400i,500,600,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/access.ico" />

    <script src="https://assets.what3words.com/sdk/v3/what3words.js"></script>



</head>
<body class="process-layout">
 


    <div class="storage-quote">
        <div class="storage-quote__header">

                <div itemscope itemtype="http://schema.org/Brand" class="storage-quote__header-logo">
                    <a href="/">
                            <img itemprop="logo" src="https://res.cloudinary.com/moversng/image/upload/v1586740232/TODO%20STORAGE/todostoragegreen_tl2gws.svg" alt="Access brand logo" class="storage-quote__header-logo-img" />
                    </a>
                </div>
            <div class="process-header">
                <div class="storage-quote__progress-indicator">
    <ul class="storage-quote__progress-list">
        <li class="storage-quote__progress-list-item">
            <div class="storage-quote__progress-stage storage-quote__progress-stage--complete animated fadeIn">
                <span class="storage-quote__progress-stage-number">1</span>
                <img class="storage-quote__progress-stage-icon" src="https://www.accessstorage.com/-/media/images/icons/progress-indicator/tick.svg">
            </div>
            <div class="storage-quote__progress-title storage-quote__progress-title--complete animated fadeIn">Location</div>
        </li>
        <li class="storage-quote__progress-list-item">
            <div class="storage-quote__progress-stage storage-quote__progress-stage--complete animated fadeIn">
                <span class="storage-quote__progress-stage-number">2</span>
                <img class="storage-quote__progress-stage-icon" src="https://www.accessstorage.com/-/media/images/icons/progress-indicator/tick.svg">
            </div>
            <div class="storage-quote__progress-title storage-quote__progress-title--complete animated fadeIn">Size</div>
        </li>
        <li class="storage-quote__progress-list-item">
            <div class="storage-quote__progress-stage storage-quote__progress-stage--active animated fadeIn">
                <span class="storage-quote__progress-stage-number">3</span>
                <img class="storage-quote__progress-stage-icon" src="https://res.cloudinary.com/moversng/image/upload/v1586939977/TODO%20STORAGE/user_hcsq2m.svg">
            </div>
            <div class="storage-quote__progress-title storage-quote__progress-title--active animated fadeIn">Details</div>
        </li>
        <li class="storage-quote__progress-list-item">
            <div class="storage-quote__progress-stage storage-quote__progress-stage--">
                <span class="storage-quote__progress-stage-number">4</span>
                <img class="storage-quote__progress-stage-icon" src="https://res.cloudinary.com/moversng/image/upload/v1586940123/TODO%20STORAGE/Quote_dnnmys.svg">
            </div>
            <div class="storage-quote__progress-title storage-quote__progress-title--">Quote</div>
        </li>
    </ul>
</div>

            </div>
            <div class="process-header__close">
                <a href="/" class="process-header__cancel-link">
   
</a>

            </div>
        </div>
        <div class="process-wrapper">
            <h1 class="page-title">Your details</h1>
    <div class="page-introduction">
        <p>To enable us to give you our best possible price and stay in touch on fantastic offers, we just need a few details about you and your requirements.</p>

    </div>
<div class="tab-container" id="tab-container">
  
    <div class="tab-panel" id="tab-panel-1">
        
<form  action="/storage/your-details" class="access-form provide-details" th:object="${booking}"  method="post">   

  
    <!-- First Tab Panel-->
    <fieldset class="provide-details__form">

        <div class="provide-details__field-wrapper">
			<div class="provide-details__field">
                <div class="field-error field-error--hide ">
                    Please enter your first name
                </div>

                <label class="provide-details__form-label" for="FirstName">First name</label>

                <input class="provide-details__form-input" id="FirstName" th:field="*{firstname}" maxlength="30" name="FirstName" pattern="^[a-zA-Z]+(([&#39;,. -][a-zA-Z ])?[a-zA-Z]*)*$" required="true" title="Please enter your first name" type="text"  />

            </div>
            <div class="provide-details__field">

                <div class="field-error field-error--hide">
                    Please enter your last name
                </div>

                <label class="provide-details__form-label" for="LastName">Last name</label>

                <input class="provide-details__form-input" id="LastName"  th:field="*{lastname}" maxlength="30" name="LastName" pattern="^[a-zA-Z]+(([&#39;,. -][a-zA-Z ])?[a-zA-Z]*)*$" required="true" title="Please enter your last name" type="text" value="" />

            </div>
            <div class="provide-details__field">

                <div class="field-error field-error--hide">
                    Please enter a valid contact number
                </div>

                <label class="provide-details__form-label" for="Phone">Contact number</label>

                <input class="provide-details__form-input" id="Phone" maxlength="30" th:field="*{phone}" name="Phone" pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" required="true" title="Please enter a valid contact number" type="tel" value="" />

            </div>
            <div class="provide-details__field">

                <div class="field-error field-error--hide">
                    Please enter your email address
                </div>

                <label class="provide-details__form-label" for="Email">Email address</label>

                <input class="provide-details__form-input" id="Email" name="Email" th:field="*{email}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" required="true" title="Please enter your email address" type="email" value="" />
            </div>
        </div>



        <p class="provide-details__disclaimer">Your personal details won’t be shared outside of our walls to any third parties, we only take this to give you our best possible price and stay in touch on fantastic offers.</p>

        <div class="provide-details__step-ctas">
            <a th:href="@{'/book?StoreId=' + ${booking.storeid}}" class="provide-details__previous-cta">
                <span class="provide-details__previous-cta-text">Previous</span>
            </a>
            <button type="submit" class="provide-details__submit-cta access-form__submit">
                <span class="provide-details__submit-cta-text">Submit details</span>
            </button>
        </div>

    </fieldset>
    <!-- First Tab Panel End-->
</form>
    </div>



</div>

        </div>
    </div>
    <div class="storage-footer">
        <div class="storage-footer__content">
    <div class="storage-footer__copyright">


<div itemscope itemtype="http://schema.org/Brand" class="brand-copyright">
    &#169; TO-DO Group
</div>
</div>
    <div class="storage-footer__links">
        <div class="storage-footer__links-legal">




    <ul class="legal-links">
                <li class="legal-links__item">
                    <a href="" class="legal-links__item-link ">Terms and Conditions</a>
                </li>
                <li class="legal-links__item">
                    <a href="" class="legal-links__item-link ">Privacy Policy</a>
                </li>
                <li class="legal-links__item">
                    <a href="" class="legal-links__item-link ">Cookie Policy</a>
                </li>
              
                <li class="legal-links__item">
                    <a href="" class="legal-links__item-link ">FAQs</a>
                </li>
    </ul>
</div>
        <div class="storage-footer__links-social">


    <div class="social-links">
            <a href="" class="social-links__link" target="_blank">
                    <img  th:src="@{/dist/assets/social-icons/facebook-white.svg}" alt="Facebook icon" />
            </a>
            <a href="" class="social-links__link" target="_blank">
                    <img th:src="@{/dist/assets/social-icons/linkedin-white.svg}" alt="LinkedIn icon" />
            </a>
            <a href="" class="social-links__link" target="_blank">
                    <img th:src="@{/dist/assets/social-icons/twitter-white.svg}" alt="Twitter icon" />
            </a>
    </div>
</div>
    </div>
</div>




    </div>

	 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAdKb-HhkmlJXB4LNvjkN2P7Saz4vN8tU&amp;libraries=places,geometry"></script>
  
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/snazzy-info-window@1.1.1/dist/snazzy-info-window.min.js'></script>
    <script th:src="@{/dist/js/app.js}"></script>

   

    
</body>
</html>
