<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Home Page')"></head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="${message}"></h1>
				<hr />
				<h1>working on the homepage design- coming soon</h1>				
				<h1><a th:href="@{/book}">book now</a></h1>
				
				<p>Storage spaces available only areas around Abuja, Nigeria.</p>	
				<p>please enter anywhere in abuja to test</p>
			</div>
		</div>
	</div>
	<script th:replace="fragments/scripts :: scripts"></script>
</body>

</html>